name: Release

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Ref to build (for Pull Requests, use refs/pull/NNN/head)'
        required: true
#  repository_dispatch:
#    # client_payload should be the same as the inputs for workflow_dispatch.
#    types:
#    - Build*
#  release:
#    types:
#    - published

jobs:
  source:
    name: Source

    uses: ./.github/workflows/release-source.yml
    secrets: inherit

  docs:
    name: Docs
    needs: source

    uses: ./.github/workflows/release-docs.yml
    secrets: inherit

    with:
      version: ${{ needs.source.outputs.version }}

  linux-legacy:
    name: Linux (Legacy)
    needs: source

    uses: ./.github/workflows/release-linux-legacy.yml
    secrets: inherit

    with:
      survey_key: ${{ needs.source.outputs.survey_key }}

  linux:
    name: Linux (Generic)
    needs: source

    uses: ./.github/workflows/release-linux.yml
    secrets: inherit

    with:
      survey_key: ${{ needs.source.outputs.survey_key }}

  linux_distros:
    name: Linux (Distros)
    needs: source

    uses: ./.github/workflows/release-linux-distros.yml
    secrets: inherit

    with:
      survey_key: ${{ needs.source.outputs.survey_key }}

  linux-dedicated:
    name: Linux (Dedicated)
    needs: source

    uses: ./.github/workflows/release-linux-dedicated.yml
    secrets: inherit

    with:
      survey_key: ${{ needs.source.outputs.survey_key }}

  macos:
    name: MacOS
    needs: source

    uses: ./.github/workflows/release-macos.yml
    secrets: inherit

    with:
      survey_key: ${{ needs.source.outputs.survey_key }}

  windows:
    name: Windows
    needs: source

    uses: ./.github/workflows/release-windows.yml
    secrets: inherit

    with:
      is_tag: ${{ needs.source.outputs.is_tag }}
      survey_key: ${{ needs.source.outputs.survey_key }}
